/*----------General----------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-violet: rgb(161,116,202);
}

/*----------Main----------*/

.color_violet {
  color: var(--color-violet) !important;
}
